{
    "plugins": [
        "prettier-plugin-go-template"
    ],
    "overrides": [
        {
            "files": [
                "*.html"
            ],
            "options": {
                "parser": "go-template",
                "singleQuote": false
            }
        }
    ],
    "singleQuote": true,
    "goTemplateBracketSpacing": true
}