{{/* Generates an unordered list with optional custom classes.

  This shortcode creates an unordered list (`<ul>`) HTML element, allowing the user
  to add custom classes for styling purposes.

  The main reason of providing this shortcode is that using markdown unordered list doesn't work well
  when shortcodes are used inside an item. Indeed, the HTML result could contain more than one <ul> element.

  Parameters:
  - class: A string containing one or more CSS class names to be added to the `<ul>` element.
  This parameter is optional and defaults to an empty string if not provided.

  Example:
  To use this shortcode in your content, you can include it like this:
  {{<unorderedList
>}}

{{< listItem >}}
Wen kontaktiert das Spital, wenn es inhaltliche Fragen betreffend der SpiGes
Erhebung hat?
{{< collapsibleBlock groupId="Rollen" >}}
Bei fachlichen oder technischen Fragen zur SpiGes wendet sich das Spital primär
an seine zuständige kantonale Erhebungsstelle.
{{< /collapsibleBlock >}}
{{< /listItem >}}
...
{{< /unorderedList >}}
*/}}
{{ $class := .Get "class" | default "" }}
<ul class="unordered-list {{ $class }}">
  {{ .Inner }}
</ul>
