<!-- collapsibleGroupCommand.html -->
{{ $groupId := .Get "groupId" | default ""}}
{{ $class := .Get "class" | default ""}}
{{ $collapsedText := .Get "customCollapsedText" | default (T "expand_all") }}  <!-- Fetch collapsedText or use default -->
{{ $expandedText := .Get "customExpandedText" | default (T "collapse_all") }}  <!-- Fetch expandedText or use default -->
{{ $tooltipText := .Get "tooltipText" | default ""}}
{{ $tooltipEnabled := .Get "tooltipEnabled" | default false }}
<span class="collapsible-group-command {{$class}}"
     collapsed-text="{{$collapsedText}}"
     expanded-text="{{$expandedText}}"
     group-id="{{$groupId}}"
>
    {{ if $tooltipEnabled }}
        {{ with $tooltipText }}
            <i class="collapsible-group-command__icon fas" data-bs-toggle="tooltip" data-bs-placement="top" title="{{$tooltipText}}"></i>
        {{ else }}
            <i class="collapsible-group-command__icon fas" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ T "click_to_expand_collapse_all" }}"></i>
        {{ end }}
    {{ else }}
        <i class="collapsible-group-command__icon fas"></i>
    {{ end }}
    <button type="button" class="collapsible-group-command__button"></button>
</span>
    